<%- include("layout/header") %>
    

<div class="container mt-3">
    <div class="row">
        <script type="text/babel">
            class App extends React.Component{
                constructor(props) {
                    super(props);
                    this.state={
                        data:[],
                        countt:50,
                        loader:true
                    }
                }
                componentDidMount() {
                    const myFormData = new FormData()
                    const config = {headers : {'content-type':'multipart/form-data'}}
                    axios.get("/api/blocks",config)
                    .then(res=>{
                        this.setState({data:res.data,loader:false})
                    })
                    .catch(error=>{
                        console.log(error)
                    })
                }

                loadMore=()=>{
                  const ct = parseFloat(this.state.countt)+50
                  this.setState({countt:ct})
                  console.log(ct)
                }

                render(){
                    var icount=0
                    const block = this.state.data.map(value=>{
                        icount+=1
                        if(icount<=this.state.countt){
                               var localTime  = moment.utc(value.tstamp).toDate();
                               return(
                                   <tr>
                                    <td><a href={"/explorer/block/"+value.block_index}>{value.block_index}</a></td>
                                    <td><a href={"/explorer/address/"+value.minerAddress}>{value.minerAddress.substring(0,20)}...</a></td>
                                    <td>{value.transaction.length}</td>
                                    <td>{value.hash.substring(0,40)}...</td>
                                    <td>{value.fee_reward}</td>
                                    <td>{value.block_reward}</td>
                                    <td>{moment(localTime).fromNow()}</td>
                                   </tr>
                               )
                                }
                            })
                        
                    return(
                        <React.Fragment>
                            <h3>Blocks </h3>
                            <hr/>
                            <div className="table-responsive">
                            <table id="allblocks" className="table">
                            <thead>
                            <tr>
                            <th>Block Height</th>
                            <th>Miner</th>
                            <th>Transactions</th>
                            <th>Hash</th>
                            <th>Fee</th>
                            <th>Reward</th>
                            <th>Time UTC </th>
                            </tr>
                            </thead>
                            <tbody>
                            {block}
                            </tbody>
                            </table>
                            <button className="btn btn-primary" onClick={this.loadMore.bind()} style={{float:"right"}}>Load More</button>
                            </div>
               
                          <div className="d-flex justify-content-center">
                            {this.state.loader==true?<div id="loaderDiv" className="spinner-border text-danger  mt-5 mb-5 " role="status">
                                <span className="sr-only">Loading...</span>
                            </div>:""}
                         </div>   
                        </React.Fragment>
                    )
                }
    
            }
    
            ReactDOM.render(<App/>,document.getElementById('app'));
        </script>
        <div id="app"></div>


      </div>
</div>


<%- include("layout/footer") %>
