<%- include("layout/header") %>
    
<div class="homebanner">
 <h2 class="text-white">
    Your money, your way.  
 </h2>
 <h3 class="text-white ">
    CRYPTOCURRENCY FOR PAYMENTS <br/>Based on Blockchain Technology
 </h3>
 <button class="btn btn-primary download" >
    <i class="fab fa-windows"></i> DOWNLOAD <br/> MCash Core Wallet
 </button>
 <button class="btn btn-primary downloada" >
    <i class="fab fa-android"></i> DOWNLOAD <br/> For Android Wallet
 </button>
</div>

<div class="bg-light pt-5 pb-5">
  <div class="container">
    <h1 class="text-center mb-2">WHAT IS MCASH?</h1>
    <p class="mb-5 p-3">
        MCash is a peer-to-peer Internet currency that enables instant, near-zero cost payments to anyone in the world.
         MCash is an open source, global payment network that is fully decentralized without any central authorities. 
         Mathematics secures the network and empowers individuals to control their own finances. 
         MCash features faster transaction confirmation times and improved storage efficiency than the leading math-based currency. 
         With substantial industry support, 
        trade volume and liquidity, MCash is a proven medium of commerce complementary to Bitcoin.
    </p>
  </div>
</div>

<div class="pt-5 pb-5 bg-secondary">
  <div class="container">
    <div class="row">
        <div class="col-sm-6 mb-2">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Blockchain</h5>
              <p class="card-text">The MCash blockchain is capable of handling higher transaction volume than its counterpart - Bitcoin. Due to more frequent block generation, the network supports more transactions without a need to modify the software in the future.
                As a result, merchants get faster confirmation times, while still having ability to wait for more confirmations when selling bigger ticket items</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 mb-2">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Wallet Encryption</h5>
              <p class="card-text">Wallet encryption allows you to secure your wallet, so that you can view transactions and your account balance, but are required to enter your password before spending MCash.
                This provides protection from wallet-stealing viruses and trojans as well as a sanity check before sending payments.</p>
            </div>
          </div>
        </div>

          <div class="col-sm-6 mb-2">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Privacy</h5>
                <p class="card-text">We have no control over your wallet. You're 100% in charge of your own wallet.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 mb-2">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Secure</h5>
                <p class="card-text">All your data is stored encrypted and can only be decrypted with your password.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 mb-2">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Mining Reward</h5>
                <p class="card-text">Miners are currently awarded with 1 new MCash per block, an amount which gets halved .
                    The MCash network is therefore scheduled to produce 84 million MCashs, which is 4 times as many currency units as Bitcoin.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 mb-2">
            <div class="card mb-5">
              <div class="card-body">
                <h5 class="card-title">Easy</h5>
                <p class="card-text">We make it really easy for you to use your online wallet and perform various operations with it.
                    Worldwide access
                    Going on a holiday or business trip? No problem, you can access your coins from all over the world
                </p>
              </div>
            </div>
          </div>

      </div>
</div>
</div>

<%- include("layout/footer") %>