
    <div class="footer-copyright">
        <p class="p-3">Copyright © <script type="text/javascript">var year = new Date();document.write(year.getFullYear());</script>
             MCash Project. All rights reserved</p>
    </div>
</body>
</html>