<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/responsive.css"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" 
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" 
    crossorigin="anonymous"/>

    <link rel="icon" href="/images/favicon.png"/>
    <script src="/js/jquery.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


    <script src="/js/babel.js"></script>
    <script crossorigin src="/js/react.production.min.js"></script>
    <script crossorigin src="/js/react-dom.production.min.js"></script>
    <script src="/js/axios.min.js" 
    integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" 
    crossorigin="anonymous"></script>

    <script type="text/javascript" charset="utf8" src="/js/notify.js"></script>
    <script type="text/javascript" charset="utf8" src="/js/moment.min.js"></script>
    <title><%= title %></title>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-white bg-white fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/images/favicon.png" class="logo" />
                MCash
            </a>
          <button class="btn btn-secondary menubtn" onclick="myFunction()" type="button" data-bs-toggle="collapse" 
          data-bs-target="#navigationbar" aria-controls="navigationbar" 
          aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars"></i>
          </button>
          <script>
            function myFunction() {
              document.getElementById("navigationbar").classList.toggle("show");
            }
            window.onclick = function(event) {
              if (!event.target.matches('.menubtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                  var openDropdown = dropdowns[i];
                  if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                  }
                }
              }
            }
            </script>
          <div class="collapse navbar-collapse " id="navigationbar" role="navigation">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
            <ul class="navbar-nav d-flex mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/explorer">Explorer</a>
              </li>
              <li class="nav-item" id="dashboard" style="display: none;">
                <a class="nav-link" href="/account">Account</a>
              </li>
              <li class="nav-item" id="acc">
                
              </li>
              </ul>
<script>
    $(document).ready(function(){
    var address = window.sessionStorage.getItem('address');
    if(address==null){
      $("#acc").html('<a class="nav-link" href="/access/wallet">Wallet Access</a>');
      $("#dashboard").hide();
    }else{
      $("#acc").html('<a class="nav-link" type="button" id="logout">Logout</a>');
      $("#dashboard").show();
    }
   
    $("#logout").click(function(){
      window.sessionStorage.removeItem('privateKey');
      window.sessionStorage.removeItem('publickey');
      window.sessionStorage.removeItem('address');
      window.location.href='/access/wallet';
    });
  });
</script>
              
          </div>
        </div>
      </nav>
      <div class="extra">

      </div>
